.Rhistory
.DS_Store
__pycache__/
Module I/heart_segmentation/.DS_Store
Module I/heart_segmentation/__pycache__/
Module I/heart_segmentation/checkpoints/
Module I/quality_classification/.DS_Store
Module I/quality_classification/__pycache__/
Module I/quality_classification/checkpoints/
