torch>=1.0.0
numpy>=1.18.1
pydicom>=2.0.0
statistics
matplotlib>=3.2.1
opencv-python>=4.2.0
argparse
scipy>=1.4.1
torchvision
tensorboardX>=2.0
datetime
Pillow
glob2
scikit-learn
https://github.com/shayansiddiqui/nn-common-modules/releases/download/v1.0/nn_common_modules-1.0-py2.py3-none-any.whl
https://github.com/abhi4ssj/squeeze_and_excitation/releases/download/v1.0/squeeze_and_excitation-1.0-py2.py3-none-any.whl